.vui-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  .vui-radio__input {
    line-height: 1;
  }

  .vui-radio__inner {
    @include basic-transition;
    border: 1px solid $vui-border;
    width: 18px;
    height: 18px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;

    &::after{
      @include basic-transition;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: $vui-white;
      height: 6px;
      width: 6px;
      border-radius: 50%;
    }
  }

  input[type=radio] {
    display: none !important;
  }

  .vui-radio__label {
    font-size: 14px;
    padding-left: 5px;
  }

  &:hover {
    .vui-radio__inner {
      border-color: $vui-border-hover;
    }
  }
}

//  Colors (types)
.vui-radio {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      .vui-radio__inner {
        border-color: $color;
      }
    }
  }
}

//  States
.vui-radio.is-checked {
  .vui-radio__inner {
    border-color: $vui-text;
    background-color: $vui-text;

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      .vui-radio__inner {
        border-color: $color;
        background-color: $color;
      }
    }
  }
}

.vui-radio.is-disabled {
  cursor: not-allowed;
  .vui-radio__inner {
    border-color: $vui-disabled-control-bg;
    background-color: $vui-disabled-control-bg;
  }

  & + .vui-radio__label {
    cursor: not-allowed;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      .vui-radio__inner {
        border-color: $color;
        background-color: $color;
        opacity: .5;
      }
    }
  }
}

.vui-radio-group {
  display: flex;
}

.vui-radio.vui-radio-button {

  background-color: transparent;
  border: 1px solid $vui-border;
  padding: 0.35em 0.75em;

  .vui-radio__label {
    padding: 0;
  }

  &:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &:last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &:not(:first-child) {
    border-left: none;
  }

  //  States
  &:hover {
    color: $vui-text-strong;
  }

  &.is-checked {
    border-color: $vui-text;
    background-color: $vui-text;
    color: $vui-white;
  }

  &.is-disabled {
    background-color: $vui-disabled-control-bg;
    opacity: .5;

    &.is-checked {
      color: $vui-text;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      color: $color;
      border-color: $color;

      &.is-checked {
        border-color: $color;
        background-color: $color;
        color: $color-invert;
      }
    }
  }

}